page-login {
  ion-content {
    background: #1b577b; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1b577b 0%, #341a4a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1b577b 0%,#341a4a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1b577b 0%,#341a4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .top-20 {
    margin-top: 20%;
  }

  .top-5 {
    margin-top: 5%;
  }

  img {
    width: 150px;
  }

  h3 {
    color: white;
  }
}
